In [128]:
import numpy as np
import pandas as pd
import xml.etree.ElementTree as ET
import matplotlib.pyplot as plt

In [129]:
tree = ET.parse("D:/УНИВЕР/ЭВМ (тервер)/padgett.xml")
root = tree.getroot()
tree

In [130]:
names = []
for i in tree.findall('MetaNetwork/nodes/nodeclass/node'):
    names.append(i.attrib.get('id'))
names

# source -> target
#PADGM
dfm = pd.DataFrame(np.random.randn(16, 16), index=names, columns=names)
links = tree.findall("MetaNetwork/networks/network[@id = 'PADGM']")[0].findall('link')
for i in links:
    data = i.attrib
    dfm.loc[data.get('source'), data.get('target')] = data.get('value')

#PADGB
dfb = pd.DataFrame(np.random.randn(16, 16), index=names, columns=names)
links = tree.findall("MetaNetwork/networks/network[@id = 'PADGB']")[0].findall('link')
for i in links:
    data = i.attrib
    dfb.loc[data.get('source'), data.get('target')] = data.get('value')

In [131]:
print('PADGM')
dfm

PADGM

,ACCIAIUOL,ALBIZZI,BARBADORI,BISCHERI,CASTELLAN,GINORI,GUADAGNI,LAMBERTES,MEDICI,PAZZI,PERUZZI,PUCCI,RIDOLFI,SALVIATI,STROZZI,TORNABUON
ACCIAIUOL,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
ALBIZZI,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
BARBADORI,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
BISCHERI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000
CASTELLAN,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000
GINORI,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
GUADAGNI,0.0000,1.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000
LAMBERTES,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
MEDICI,1.0000,1.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,1.0000
PAZZI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000
PERUZZI,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000
PUCCI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
RIDOLFI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000
SALVIATI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
STROZZI,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,0.0000,0.0000,0.0000
TORNABUON,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000

In [132]:
print('PADGB')
dfb

PADGB

,ACCIAIUOL,ALBIZZI,BARBADORI,BISCHERI,CASTELLAN,GINORI,GUADAGNI,LAMBERTES,MEDICI,PAZZI,PERUZZI,PUCCI,RIDOLFI,SALVIATI,STROZZI,TORNABUON
ACCIAIUOL,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
ALBIZZI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
BARBADORI,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,0.0000,1.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000
BISCHERI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000
CASTELLAN,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000
GINORI,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
GUADAGNI,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
LAMBERTES,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000
MEDICI,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000
PAZZI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
PERUZZI,0.0000,0.0000,1.0000,1.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
PUCCI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
RIDOLFI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
SALVIATI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
STROZZI,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
TORNABUON,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [133]:
def pagerank(M, num_iterations = 100, d = 0.85):
    N = M.shape[1]
    v = np.random.rand(N, 1)
    v = v / np.linalg.norm(v, 1)
    M_hat = (d * M + (1 - d) / N)
    for i in range(num_iterations):
        v = M_hat @ v
    return v

In [134]:
padgm.sum(axis=0)

array([1., 3., 2., 3., 3., 1., 4., 1., 6., 1., 3., 0., 3., 2., 4., 3.])

In [135]:
padgm

array([[0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0.]])

In [136]:
padgm = dfm.to_numpy(dtype='float')
div = padgm.sum(axis=1) 
div[-5] += 1
v = pagerank(padgm / div)
prm = v / v.sum()
prm = np.reshape(prm, (1, 16))[0]

In [137]:
padgb = dfb.to_numpy(dtype='float')
div = padgb.sum(axis=1) 
div[[0,1,11,12,14]] += 1
v = pagerank(padgb / div)
prb = v / v.sum()
prb = np.reshape(prb, (1, 16))[0]

In [138]:
relation = pd.DataFrame({"Marriage" : prm, "Business" : prb, "Total" : (prm + prb) * 0.5}, index=names)
relation

           Marriage  Business     Total
ACCIAIUOL  0.030129  0.009782  0.019955
ALBIZZI    0.078289  0.009782  0.044035
BARBADORI  0.049782  0.122181  0.085981
BISCHERI   0.068375  0.086898  0.077637
CASTELLAN  0.068803  0.087126  0.077965
GINORI     0.031812  0.068147  0.049980
GUADAGNI   0.097564  0.060577  0.079071
LAMBERTES  0.030351  0.113237  0.071794
MEDICI     0.144793  0.176328  0.160561
PAZZI      0.035330  0.041058  0.038194
PERUZZI    0.067404  0.113423  0.090414
PUCCI      0.009451  0.009782  0.009616
RIDOLFI    0.069115  0.009782  0.039448
SALVIATI   0.060403  0.041058  0.050730
STROZZI    0.087627  0.009782  0.048704
TORNABUON  0.070771  0.041058  0.055914

In [139]:
relation.sort_values(by="Total")

           Marriage  Business     Total
PUCCI      0.009451  0.009782  0.009616
ACCIAIUOL  0.030129  0.009782  0.019955
PAZZI      0.035330  0.041058  0.038194
RIDOLFI    0.069115  0.009782  0.039448
ALBIZZI    0.078289  0.009782  0.044035
STROZZI    0.087627  0.009782  0.048704
GINORI     0.031812  0.068147  0.049980
SALVIATI   0.060403  0.041058  0.050730
TORNABUON  0.070771  0.041058  0.055914
LAMBERTES  0.030351  0.113237  0.071794
BISCHERI   0.068375  0.086898  0.077637
CASTELLAN  0.068803  0.087126  0.077965
GUADAGNI   0.097564  0.060577  0.079071
BARBADORI  0.049782  0.122181  0.085981
PERUZZI    0.067404  0.113423  0.090414
MEDICI     0.144793  0.176328  0.160561

* Получаем, что самая влиятельная семья -- MEDICI